/* #dbad6a
#96897b
#628395 */

.main {
    width: 60%;
    justify-content: center;
    margin: 50px auto;
}

.introduction{
    border: 2px #96897b solid;
    border-radius: 15px;
    padding: 50px;
}

.introduction p{
    padding: 10px;
    font-size: 1.2rem;
}

.list-series {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
    row-gap: 50px;
    column-gap: 20px;
}

.list-series li{
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: start;
    border: #dbad6a 1px solid;
    grid-column: span 6;
    gap: 50px;
    transition: .5s;
    border: 2px solid #96897b;
    border-radius: 25px;
    overflow: hidden;
}

.list-series li:hover{
    background-color: #dbad6a;
    transition: .5s;
    box-shadow: 3px 3px 40px 5px #96897b;
}

.list-series li:nth-child(1), li:nth-child(6) {
    grid-column: span 12;
}

.list-series li:nth-child(2)  {
    grid-column: span 8;
}

.list-series li:nth-child(3)  {
    grid-column: span 4;
    gap: 10px;
}

.list-series img {
    width: 100%;
    height: 100%;
}

.list-series .serie-description {
    display: grid;
    grid-template-columns: 100%;
    place-content: center;
    gap: 20px;
}